* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 56, 188);
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.todo__app {
  width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: #212121;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.todo__form {
  margin-bottom: 32px;
}

.todo__input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgb(0, 56, 188);
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo__input::placeholder {
  color: #e2e2e2;
}

.todo__taste {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background-color: rgb(0, 56, 188) ;
  color: #fff;
  text-transform: capitalize;
}

.todo__container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgb(20, 130, 255) 0%,
    rgb(4, 50, 175) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo__input.edit {
  border: 2px solid #149fff;
}

.todo__taste.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.icon__loschen {
  margin-right: 5px;
  color: #fff;
}

.icon__bearbeiten {
  color: #fff;
}

.fertig {
  opacity: 0.4;
}

.aufgabe__container {
  display: flex;
  align-items: center;
}

.circle {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.aufgabe__text {
  flex: 1;
}

